.color-form--form {
  max-width: 95%;
  margin-bottom: 2rem;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  color: black;
}

.color-form--submit-button {
  border: 3.5px solid rgb(249, 147, 58);
  border-radius: 5px;
  max-width: 400px;
  padding: 5px;
  background-color: #f0f1f9df;
  margin-top: 5px;
}

/* .ColorForm--form--fieldset {
  background-color: #f6ff0088;
  border-radius: 10px;
} */
