.color-form--form {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    min-height: 175px;
    border-radius: 5px;
    margin: 5px;
    // font-size: 14px;
}

.color-form--fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    min-width: 85%;
    border: none;
}

/* this aligns the label and input of role due to diffrences in JSX structure compared to ColorInput */
.color-form--role-label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.color-form--color-input-wrapper {
    display: flex;
    gap: 5px;
}

.color-form--input-field--color-text {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid black;
    max-width: 150px;
    border-radius: 5px;
}

.color-form--input-field--color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-width: 24px;
    max-height: 24px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.color-form--input-field--color-picker::-webkit-color-swatch {
    border-radius: 5px;
}

.color-form--input-field--color-picker::-moz-color-swatch {
    border-radius: 5px;
}

.color-form--submit-button:hover {
    background-color: #6d98e7;
}
