.color-form--form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  max-width: 350px;
  
}

/* this aligns the label and input of role due to diffrences in JSX structure compared to ColorInput */
.color-form--role-label {
  display: flex;
  flex-direction: column;
}

.color-form--color-input-wrapper {
  display: flex;
  gap: 5px;
}

.color-form--input-field--color-text {
    flex-grow: 1;
}


.color-form--input-field--color-picker {
  max-width: 34px;
}


.color-form--submit-button {
  /* border: 1.5px solid rgb(249, 147, 58); */
  border-radius: 5px;
  color: white;
  font-weight: 800;
  background-color: #346dda;
  width: 100%;
}

.color-form--submit-button:hover {
  background-color: #6d98e7;
}
