body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

.no-colors-message {
  border: 1px solid sandybrown;
  border-radius: 5px;
  max-width: 400px;
  padding: 5px;
  background-color: antiquewhite;
}

.color-card--list {
  padding: 0;
  list-style: none;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
