body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  padding: 10px;
}

.no-colors-message {
  border: 1px solid sandybrown;
  border-radius: 5px;
  max-width: 400px;
  padding: 5px;
  background-color: antiquewhite;
}

ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 400px;

}

/* li {
  max-width: 50%;
  height: 100%;
} */

/* .color-card--list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
} */
